click==7.1.2
Flask==1.1.2
gunicorn==19.10.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
Werkzeug==1.0.1
tensorflow==1.14.0
tensorflow-estimator==1.14.0
Keras==2.3.1
Keras-Applications==1.0.8   
Keras-Preprocessing==1.1.2
numpy==1.18.4
pandas==0.24.2
requests==2.20.0